<html>
    <head>
        <title>@ViewBag["Title"] - Primeira App MVC</title>
        
    </head>
    <body>
        <header>
            Menu
        </header>
        @RenderBody()
        <footer>
            Rodapé
        </footer>
    </body>
</html>